<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
    <div class="container">

        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{'/'}" >ElectroVerse
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/news'}" >News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/shop'}" >Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/sign-in'}" sec:authorize="isAnonymous()">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/sign-up'}" sec:authorize="isAnonymous()">Register</a>
                            </li>
                            <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{'/admin'}">Add Post</a></li>
                                    <li><a class="dropdown-item" th:href="@{'/category'}">Add Category</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" th:href="@{'/product'}">Add Product</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ROLE_MANAGER')">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manager
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{'/admin'}">Add Post</a></li>
                                    <li><a class="dropdown-item" th:href="@{'/category'}">Add Category</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" th:href="@{'/product'}">Add Product</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false"
                                   th:text="${#authentication.principal.fullName}">

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{'/profile'}">Profile</a></li>
                                    <li><a class="dropdown-item" th:href="@{'#'}">Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <form th:action="@{'/to-exit'}" method="post">
                                        <li>
                                            <button class="dropdown-item">Sign Out</button>
                                        </li>
                                    </form>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Welcome to our ElectroVerse online store</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Buy electronics online with confidence.
                                    A wide range of electronics for all needs</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{'/shop'}">Shopping Now</a>
                                    <a class="btn btn-outline-light btn-lg px-4" th:href="@{'/sign-in'}">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" th:src="@{'/avatars/fone' + ${'.jpg'}}" alt="..." /></div>
                    </div>
                </div>
            </header>

            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Welcome to our electronics store, where we offer a wide range of cutting-edge devices for everyday life. From smart phones and gadgets to high-quality audio and video equipment, you'll find everything you need for a comfortable and smart lifestyle. Our team of experts is always ready to assist you in choosing the perfect solution, so you can enjoy the latest technologies.
                                    Explore new possibilities, create unforgettable experiences, and take steps into the future with us!"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        Store Management
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        <footer class="py-5 bg-dark mt-3">
            <div class="container"><p class="m-0 text-center text-white">&copy; 2023 Incas e &copy; All Rights Reserved.</p></div>
        </footer>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
