<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="main_layout.html">
  <div layout:fragment="content">
    <div class="row">
      <div class="row target">
        <input type="hidden" th:value="${postId}" id="inpId">
      </div>
      <div class="row mt-3">
        <div class="col-8">
          <img th:src="@{'/pictures/photo' + ${postId + '.jpg'}}" class="card-img-top w-100 rounded" height="300">
        </div>
      </div>
      <div class="row newTarget mt-3">

      </div>
      <script type="text/javascript">
        loadContent();
        function loadContent() {
          const request = new XMLHttpRequest();
          request.onreadystatechange = function () {
            if (this.readyState === request.DONE && this.status == 200) {
              let post = JSON.parse(request.responseText);
              let htmlCode = "";
              const target = document.querySelector('.target');
              const newTarget = document.querySelector('.newTarget');
              htmlCode = htmlCode + "<div class='col-6'>";
              htmlCode = htmlCode + "<h1>" + post.title + "</h1>";
              htmlCode = htmlCode + "</div>"
              htmlCode = htmlCode + "<div class='col-6'>";
              htmlCode = htmlCode + "<p class='card-header'>Posted by : <strong>" + post.author.fullName + "</p>";
              htmlCode = htmlCode + "</div>"
              let newDiv = document.createElement('div')
              newDiv.innerHTML = htmlCode;
              target.append(newDiv);
              let secHtmlCode = "";
              secHtmlCode = secHtmlCode + "<div class='col-8'>";
              secHtmlCode = secHtmlCode + "<p>" + post.content + "</p>";
              secHtmlCode = secHtmlCode + "</div>"
              let newSecondDiv = document.createElement('div');
              newSecondDiv.innerHTML = secHtmlCode;
              newTarget.append(newSecondDiv);
            }
          };
          request.open("GET", "/api/post/" + inpId.value);
          request.send();
        }
      </script>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Footer-->
        <footer class="py-5 bg-dark">
          <div class="container"><p class="m-0 text-center text-white">&copy; 2023 Incas e &copy; All Rights Reserved.</p></div>
        </footer>
      </div>
    </div>

  </div>
</html>